/* * {
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: x-large;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: larger;
    text-align: center;
    font-weight: 600;
}

h3 {
    text-align: center;
}

input {
    width: 93%;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

textarea {
    width: 93%;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

select {
    font-family: 'Roboto Mono', monospace;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

button {
    float: none;
    width: 60%;
    margin: 5px;
}

form {
    text-align: center;
}

form button {
    width: 60%;
    margin: 5px;
}

p {
    text-align: left;
    margin: 18px;
    margin-bottom: 10px;
}

.major-container {
    width: 500px;
    margin: auto;
    padding: 20px;
}

.logo {
    width: 250px;
    margin: auto;
    display: block;
}

.o-bot {
    float: inline;
    width: auto;
    margin: 0px;
}

.title {
    background: gainsboro;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}

.title-text {
    background: white;
    border-radius: 4px;
    padding: 1px;
    padding-inline: 20px;
    margin: 3px;
} */