@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;

@layer base {
  html {
    font-family: "Inter";
  }
}

.btn-blue {
  @apply rounded-lg w-full bg-sky-600 mt-4 py-2 text-gray-50 focus:bg-sky-700 focus:scale-[102%] transition-all;
}
.btn-gray {
  @apply rounded-lg w-full bg-gray-300 mt-4 py-2 text-gray-800 focus:bg-gray-400 focus:scale-[102%] transition-all;
}
.btn-red {
  @apply rounded-lg w-full bg-red-600 mt-4 py-2 text-gray-50 focus:bg-red-800 focus:scale-[102%] transition-all;
}
.btn-home {
  @apply rounded-lg w-full mt-4 py-8 bg-gray-200 focus:bg-sky-700 text-gray-800 focus:text-gray-50 focus:scale-[102%]
  transition-all;
}
.ttl-1 {
  @apply text-3xl font-semibold text-center tracking-wide uppercase mb-16;
}
.subttl {
  @apply text-center;
}
.perfil {
  @apply rounded-full aspect-square object-cover justify-self-center shadow-xl transition-all max-h-56
  border-4;
}
.inp {
  @apply rounded-lg px-3 py-2 w-full bg-gray-50 focus:shadow-md;
}
.lbl {
  @apply rounded-lg py-1 pl-2 w-full font-medium;
}
.note {
  @apply rounded-lg px-2 py-2 bg-gray-50 mb-2 shadow-inner;
}
.notettl {
  @apply block italic;
}
.menu-hidden {
  @apply -bottom-20 w-[95%] bg-gray-200 h-32 grid gap-16 rounded-t-xl px-5 pt-4 pb-16 fixed
  justify-self-center shadow-2xl mt-40 hover:bottom-0 transition-all desktop:max-w-[450px];
}
.alerta {
  @apply fixed bottom-10 pb-6 pt-3 rounded-t-xl w-[95%] bg-green-400 text-center 
  text-gray-50 gap-4 justify-self-center place-content-center flex transition-colors desktop:max-w-[450px] py-3;
}
.btn-menu {
  @apply rounded-full bg-gray-100 text-gray-400 justify-self-end aspect-square p-3 grid shadow-inner
  mx-4;
}
.router-link-exact-active {
  @apply shadow-lg text-gray-800;
}
@tailwind utilities;

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}
.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}
.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}
.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}
.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}
.colored-toast .swal2-title {
  color: white;
}
.colored-toast .swal2-close {
  color: white;
}
.colored-toast .swal2-html-container {
  color: white;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}
